.cart__wrapper {
  max-width: 800px;
  margin: 0 auto;

  .cart-head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;

    &-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      &-icon {
        width: 30px;
        height: 30px;
      }
    }
    .cart-remove-button {
      display: flex;
      align-items: center;
      font-size: medium;
      color: grey;
      gap: 5px;
      background-color: $gray-line;
      border-radius: 30px;
      padding: 10px 20px;
      min-width: 100px;
      text-align: center;
      cursor: pointer;
      transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
      border: 1px solid transparent;
      &-icon {
        width: 1.2rem;
        height: 1.2rem;
      }
      &:hover {
        color: black;
      }
    }
  }
  .cart-item-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    flex-wrap: wrap;
  }
  .cart__item {
    display: flex;
    align-items: center;
  }

  .cart__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }
  .cart__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
  }
}

.cart__item-image {
  img {
    max-width: 100px;
    max-height: 100px;
  }
  margin-right: 10px;
}

.cart-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: 50%;
  border: 2px solid $orange;
  padding: 5px 10px;
  min-width: 30px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px;
  &:hover {
    background-color: black;
    color: white;
  }
}

.cart__counter {
  span {
    font-weight: bolder;
    font-size: large;
  }
}

.cart-summa {
  font-weight: bolder;
  font-size: large;
}

.cart-delet-item {
  display: flex;
  align-items: center;
  font-size: medium;
  color: black;
  gap: 5px;
  background-color: $gray-line;
  border-radius: 100%;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  border: 2px solid $orange;
  font-weight: bolder;
  font-size: large;
  box-shadow: 2px 2px 5px;
  &:hover {
    background-color: black;
    color: white;
  }
}

.button-back {
  display: flex;
  align-items: center;
  font-size: medium;
  color: black;
  gap: 5px;
  background-color: $gray-line;
  border-radius: 100%;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  border: 2px solid $orange;
  font-weight: bolder;
  font-size: large;
  box-shadow: 2px 2px 5px;
  &:hover {
    background-color: black;
    color: white;
  }
}

.cart__item-title {
  width: 200px;
}

.cart--empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
