
.content__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 5%;
    @media (max-width:1200px) {
      flex-direction: column-reverse;
      .categories {
        margin-top: 25px;
      }
    }
  }

  .content__title {
    margin-bottom: 20px;
  }

  .content__items {
    max-width: 1440px;
    margin: 5% 5%;

  }

  