
.content__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 5%;
  }

  .content__title {
    margin-bottom: 20px;
  }

  .content__items {
    max-width: 1440px;
    margin: 5% 5%;

  }